<%= @camera.title %>
<br/>
<img src="<%= medium_image_path(@camera.latest_image) %>"/>
<br/>
<%= @camera.description %>
<br/>
First image: <%= @camera.first_date %>
Latest image: <%= @camera.last_date %>
<div id="timelineContainer"></div>
<script>
    var TIMELINE_OPTIONS = {
        stack: false,
        showCurrentTime: false,
        selectable: false,
        editable: false,
        moment: function(date) {
            return vis.moment(date).utc();
        }
    };
    var ranges =  new vis.DataSet(<%= raw @camera.image_ranges %>);
    var timeline = new vis.Timeline(timelineContainer, ranges, null, TIMELINE_OPTIONS);
</script>
