<%= @camera.title %>
<br/>
<img src="<%= medium_image_path(@camera.latest_image) %>"/>
<br/>
<%= @camera.description %>
<br/>
<div id="timeline">
    First image: <%= @camera.first_date %>
    Latest image: <%= @camera.last_date %>

    timeline will go here
</div>
<%= @camera.image_ranges %>