<!DOCTYPE html> 
<html>
	<head>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= stylesheet_link_tag "application", params[:controller], :media => "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", params[:controller] %>
		<%= csrf_meta_tags %>
		<title>Long Webcam</title>
	</head>
	<body>
		<header>
			<%= image_tag "alpha_logo.png", alt: "Long Webcam Logo" %>
			<h1>Restricted Alpha</h1>
		</header>
		<%= yield %>
	</body>
</html>
